.auth-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1F8FB3; /* light gray */
}

.auth-card {
    width: 360px;
    background: #ffffff;
    padding: 30px;
    border-radius: 14px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.auth-title {
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #1f2937;
}

.auth-input {
    width: 100%;
    padding: 10px 14px;
    margin-bottom: 14px;
    border-radius: 999px;
    border: 1px solid #d1d5db;
    outline: none;
    font-size: 14px;
}

.auth-input:focus {
    border-color: #0ea5e9;
}

.auth-select {
    width: 100%;
    padding: 10px 14px;
    margin-bottom: 14px;
    border-radius: 999px;
    border: 1px solid #d1d5db;
}

.auth-button {
    width: 100%;
    padding: 10px;
    border-radius: 999px;
    background: #0ea5e9;
    color: white;
    border: none;
    font-size: 15px;
    cursor: pointer;
}

.auth-button:hover {
    background: #0284c7;
}

.auth-link {
    text-align: center;
    margin-top: 12px;
    font-size: 14px;

}